
#app {
  display: flex;
  flex-direction: column;
  align-items: center;
  /*justify-content: center;*/
  height: 100%;
  flex: 1;
}

.content {
  display: flex;
  width:95%;
  flex-direction: column;
}

.resultgroup {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

#result:nth-child(even) {background: #CCC}
#result:nth-child(odd) {background: #FFF}

body {
  background-color: lightblue;
  display: flex;
  flex-direction: column;
  min-height:100vh
}

div {
    padding: 2px;
}

.sentiment {
  padding-left:6px;
  /*align-self:flex-end;*/
}

.space-below {
  margin-bottom:9px;
}